@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #ffffff;
    --white-shade-5: #ffffff40;
    --black: #000000;
    --gray-shade-0: #d9d9d9;
    --gray-shade-5: #4d4d4d1a;
    --orange-shade-0: #f49b09c9;
    --orange-shade-5: #f49b09;
    --orange-shade-10: #f0a20b;
    --blue-shade-0: #0f3fb2;
    --blue-shade-15: #110229;
    --blue-shade-20: #0b0042;
    --brown-shade-0: #cd4729;
  }
}

@font-face {
  font-family: "LufgaExtraLight";
  src: local("LufgaExtraLight"),
    url("./assets/fonts/lufga/LufgaExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "LufgaLight";
  src: local("LufgaLight"),
    url("./assets/fonts/lufga/LufgaLight.ttf") format("truetype");
}

@font-face {
  font-family: "LufgaThin";
  src: local("LufgaThin"),
    url("./assets/fonts/lufga/LufgaThin.ttf") format("truetype");
}

@font-face {
  font-family: "LufgaMedium";
  src: local("LufgaMedium"),
    url("./assets/fonts/lufga/LufgaMedium.ttf") format("truetype");
}

@font-face {
  font-family: "LufgaRegular";
  src: local("LufgaRegular"),
    url("./assets/fonts/lufga/LufgaRegular.ttf") format("truetype");
}

@font-face {
  font-family: "LufgaSemiBold";
  src: local("LufgaSemiBold"),
    url("./assets/fonts/lufga/LufgaSemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "LufgaBold";
  src: local("LufgaBold"),
    url("./assets/fonts/lufga/LufgaBold.ttf") format("truetype");
}

@font-face {
  font-family: "LufgaExtraBold";
  src: local("LufgaExtraBold"),
    url("./assets/fonts/lufga/LufgaExtraBold.ttf") format("truetype");
}

body {
  background-color: var(--blue-shade-15);
}

.screen_height {
  height: 100svh;
}

.scroll_rm::-webkit-scrollbar {
  display: none;
}
